# Database
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASS=ta-lautan
DB_NAME=ta_lautan_db

# JWT Secret — ganti dengan string random yang panjang di production!
JWT_SECRET=8fK3xQp9L2vZrT7mYwA1sD6GhJkN4uB0cXzE5RqP8nM3tV7yH2Wl9FqS6aD1eC0

# Google OAuth — Client ID dari Google Cloud Console (untuk Android)
# Kosongkan untuk skip validasi audience (mode development/lokal)
GOOGLE_CLIENT_ID=1077875078939-ba4fpbieucdqivm622c7udab9cim4ici.apps.googleusercontent.com

# Fonnte API (WhatsApp)
FONNTE_TOKEN=MBWzS31gcNkKU5jBCrRU