# Database
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASS=ta-lautan
DB_NAME=ta_lautan_db

# JWT Secret — ganti dengan string random yang panjang di production!
JWT_SECRET=ganti-dengan-secret-yang-sangat-panjang-dan-random

# Fonnte API (WhatsApp)
FONNTE_TOKEN=token-fonnte-anda-disini
